In [ ]:
import pandas as pd

df = pd.read_csv(r"C:\Users\alexa\OneDrive\ADS 3_1\Data Visualisation\Assessment 3\Task2\dataset\cleaned_global_water_consumption.csv") 

df.head()

,Country,Year,Total Water Consumption (Billion Cubic Meters),Per Capita Water Use (Liters per Day),Agricultural Water Use (%),Industrial Water Use (%),Household Water Use (%),Rainfall Impact (Annual Precipitation in mm),Groundwater Depletion Rate (%),Water Scarcity Level
0,Argentina,2000,481.490000,235.431429,48.550000,20.844286,30.100000,1288.698571,3.255714,Moderate
1,Argentina,2001,455.063000,299.551000,48.465000,26.943000,22.550000,1371.729000,3.120000,Moderate
2,Argentina,2002,482.749231,340.124615,50.375385,29.042308,23.349231,1590.305385,2.733846,Moderate
3,Argentina,2003,452.660000,326.756667,49.086667,30.476000,24.440000,1816.012667,2.708000,Moderate
4,Argentina,2004,634.566000,230.346000,38.670000,36.670000,23.924000,815.998000,1.902000,Moderate

In [3]:
df.describe()

,Year,Total Water Consumption (Billion Cubic Meters),Per Capita Water Use (Liters per Day),Agricultural Water Use (%),Industrial Water Use (%),Household Water Use (%),Rainfall Impact (Annual Precipitation in mm),Groundwater Depletion Rate (%)
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,2012.000000,501.224430,276.004782,50.180829,27.792837,24.832515,1544.824300,2.573037
std,7.218324,96.078937,42.669593,5.566886,4.361660,2.956135,292.786579,0.480630
min,2000.000000,129.636667,111.708333,28.905000,13.276667,13.668333,700.230000,1.300000
25%,2006.000000,441.447385,250.225406,46.513611,25.018000,23.015355,1353.734583,2.235000
50%,2012.000000,502.197154,276.430556,50.318482,27.648539,25.071944,1537.537724,2.555778
75%,2018.000000,563.849594,300.221750,54.061964,30.698333,26.720167,1746.402425,2.887202
max,2024.000000,798.418000,404.350000,66.520000,43.583333,34.202000,2533.678000,4.322000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Country                                         500 non-null    object
 1   Year                                            500 non-null    int64
 2   Total Water Consumption (Billion Cubic Meters)  500 non-null    float64
 3   Per Capita Water Use (Liters per Day)           500 non-null    float64
 4   Agricultural Water Use (%)                      500 non-null    float64
 5   Industrial Water Use (%)                        500 non-null    float64
 6   Household Water Use (%)                         500 non-null    float64
 7   Rainfall Impact (Annual Precipitation in mm)    500 non-null    float64
 8   Groundwater Depletion Rate (%)                  500 non-null    float64
 9   Water Scarcity Level                            500 non-null    object
dtypes: float64(7), int64(1), object(2)
memory usage: 39.2+ KB

In [5]:
df.isnull().sum()  # Check for missing values

Country                                           0
Year                                              0
Total Water Consumption (Billion Cubic Meters)    0
Per Capita Water Use (Liters per Day)             0
Agricultural Water Use (%)                        0
Industrial Water Use (%)                          0
Household Water Use (%)                           0
Rainfall Impact (Annual Precipitation in mm)      0
Groundwater Depletion Rate (%)                    0
Water Scarcity Level                              0
dtype: int64

In [6]:
df.columns.tolist()

['Country',
 'Year',
 'Total Water Consumption (Billion Cubic Meters)',
 'Per Capita Water Use (Liters per Day)',
 'Agricultural Water Use (%)',
 'Industrial Water Use (%)',
 'Household Water Use (%)',
 'Rainfall Impact (Annual Precipitation in mm)',
 'Groundwater Depletion Rate (%)',
 'Water Scarcity Level']

In [7]:
df['Total_Percent'] = df['Agricultural Water Use (%)'] + df['Industrial Water Use (%)'] + df['Household Water Use (%)']
df['Total_Percent'].describe

<bound method NDFrame.describe of 0       99.494286
1       97.958000
2      102.766923
3      104.002667
4       99.264000
          ...
495    100.252000
496    105.138000
497    108.366000
498    109.785000
499    103.832000
Name: Total_Percent, Length: 500, dtype: float64>

In [8]:
df["Agricultural_Water_BCM"] = df["Total Water Consumption (Billion Cubic Meters)"] * df["Agricultural Water Use (%)"] / 100
df["Industrial_Water_BCM"] = df["Total Water Consumption (Billion Cubic Meters)"] * df["Industrial Water Use (%)"] / 100
df["Household_Water_BCM"] = df["Total Water Consumption (Billion Cubic Meters)"] * df["Household Water Use (%)"] / 100

In [9]:
df["Sector_Sum"] = df["Agricultural_Water_BCM"] + df["Industrial_Water_BCM"] + df["Household_Water_BCM"]
df["Difference"] = df["Total Water Consumption (Billion Cubic Meters)"] - df["Sector_Sum"]

In [10]:
df["Groundwater_Stress_Index"] = df["Groundwater Depletion Rate (%)"] / df["Rainfall Impact (Annual Precipitation in mm)"]

In [ ]:
df.head(10)

,Country,Year,Total Water Consumption (Billion Cubic Meters),Per Capita Water Use (Liters per Day),Agricultural Water Use (%),Industrial Water Use (%),Household Water Use (%),Rainfall Impact (Annual Precipitation in mm),Groundwater Depletion Rate (%),Water Scarcity Level,Total_Percent,Agricultural_Water_BCM,Industrial_Water_BCM,Household_Water_BCM,Sector_Sum,Difference,Groundwater_Stress_Index
0,Argentina,2000,481.490000,235.431429,48.550000,20.844286,30.100000,1288.698571,3.255714,Moderate,99.494286,233.763395,100.363151,144.928490,479.055036,2.434964,0.002526
1,Argentina,2001,455.063000,299.551000,48.465000,26.943000,22.550000,1371.729000,3.120000,Moderate,97.958000,220.546283,122.607624,102.616707,445.770614,9.292386,0.002275
2,Argentina,2002,482.749231,340.124615,50.375385,29.042308,23.349231,1590.305385,2.733846,Moderate,102.766923,243.186782,140.201517,112.718232,496.106531,-13.357300,0.001719
3,Argentina,2003,452.660000,326.756667,49.086667,30.476000,24.440000,1816.012667,2.708000,Moderate,104.002667,222.195705,137.952662,110.630104,470.778471,-18.118471,0.001491
4,Argentina,2004,634.566000,230.346000,38.670000,36.670000,23.924000,815.998000,1.902000,Moderate,99.264000,245.386672,232.695352,151.813570,629.895594,4.670406,0.002331
5,Argentina,2005,458.077000,265.012000,59.834000,29.288000,22.649000,1826.293000,2.724000,Moderate,111.771000,274.085792,134.161592,103.749860,511.997244,-53.920244,0.001492
6,Argentina,2006,452.983333,111.708333,54.961667,29.791667,28.831667,1318.923333,3.133333,Moderate,113.585000,248.967190,134.951285,130.602645,514.521119,-61.537786,0.002376
7,Argentina,2007,691.102500,192.815000,41.655000,16.705000,20.310000,1500.837500,3.500000,Moderate,78.670000,287.878746,115.448673,140.362918,543.690337,147.412163,0.002332
8,Argentina,2008,494.048000,230.443000,60.323000,24.483000,24.210000,1378.952000,3.006000,Moderate,109.016000,298.024575,120.957772,119.609021,538.591368,-44.543368,0.002180
9,Argentina,2009,637.878333,230.681667,54.916667,29.051667,21.211667,1141.906667,2.356667,Moderate,105.180000,350.301518,185.314287,135.304626,670.920431,-33.042098,0.002064